@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 10px;
    padding: 6px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    font-style: italic;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: 'Este artigo foi impresso pelo site www.cursoemvideo.com/noticias'
}