@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(165, 165, 165);
    padding: 10px;
}

header h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    text-align: center;
}

menu li {
    display: inline-block;
    padding: 5px;
    background-color: gray;
}

article {
    padding-top: 20px;
    width: 600px;
    display: block;
    margin: auto;
}

@media (max-width: 630px) {        
    article {
        width: 400px;
    }
}