@charset "UTF-8";

body {
    background-image: url('./imagens/espaco.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#astronauta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}